:root {
  --font-color: #ffffff;
  --bg-primary: #030303;
  --bg-secondary: #181818;
  --accent-color: #12d400; 
  --muted-text: #1F1F1F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-color);
  background-color: var(--bg-primary);
}



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.navbar {
  height: 60px;
  background-color: var(--bg-secondary);
  width: 100%;
}

.main {
  width: 100%;
  flex: 1;
}

.main {
  display: flex;
}

.sidebar {
  width: 200px;
}

.content {
  flex: 1;
  border-left: 1px solid var(--bg-secondary);
}

.player {
  height: 50px;
  width: 100%;
  background-color: var(--bg-secondary);
}